[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pynrrd = "*"
pillow = "*"
ipython = "*"
scikit-image = "*"
pandas = "*"
iopath = "*"
imutils = "*"
jedi = "==0.17.2"
pytesseract = "*"
pyenchant = "*"
pyside6 = "*"
ninja = "*"
sqlalchemy = "*"
plotly = "*"
pyyaml = "*"
yq = "*"
jq = "*"
pip = "*"
opencv-contrib-python = "*"
torch = "*"
torchvision = "*"
pycallgraph = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
