[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pynrrd = "*"
pillow = "*"
torch = "*"
torchvision = "*"
opencv-python = "*"
detectron2 = {editable = true, ref = "v0.4", git = "https://github.com/facebookresearch/detectron2.git"}
ipython = "*"
scikit-image = "*"
pandas = "*"
iopath = "*"
imutils = "*"
jedi = "==0.17.2"
pytesseract = "*"

[dev-packages]

[requires]
python_version = "3"
