[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = false

[packages]
numpy = "*"
pynrrd = "*"
pillow = "*"
opencv-python = "*"
ipython = "*"
scikit-image = "*"
pandas = "*"
iopath = "*"
imutils = "*"
detectron2 = {editable = true, ref = "v0.6", git = "https://github.com/facebookresearch/detectron2.git"}
jedi = "==0.17.2"
pytesseract = "*"
pyenchant = "*"
pyside6 = "*"
ninja = "*"
torch = {index = "pytorch",version = "==1.10.1+cu113"}
torchvision = {index = "pytorch",version = "==0.11.2+cu113"}
pycallgraph = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
